<div class="container" >
<div id="dodajForm" class="row"style="margin-top:50px;">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <form>
                            <fieldset class="form-group">
                                <label for="nazw">Imię i Nazwisko</label>
                                <input type="text" class="form-control" id="nazw" placeholder="Podaj imię i nazwisko" ng-model="formData.nazw">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="stanowisko">Stanowisko</label>
                                <input type="text" class="form-control" id="stan" placeholder="Stanowisko" ng-model="formData.stanowisko">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="zarobki">Zarobki</label>
                                <input type="text" class="form-control" id="art-podpis" placeholder="Miesięczne zarobki" ng-model="formData.zarobki">
                            </fieldset>
                            <button type="submit" class="btn btn-primary btn-sg" ng-click="createTodo()">Dodaj</button>
                            </form>
                        </div>
                        </div>
                    </div>
</div></div>